# wp-angularjs

[![Build Status](https://travis-ci.org/miya0001/wp-angularjs.svg?branch=master)](https://travis-ci.org/miya0001/wp-angularjs)

A WP-API Client for [AngularJS](https://angularjs.org/).

## Getting Started

```
$ npm install wp-angularjs --save
```

```html
<have-posts api-root="http://example.com/wp-json/wp/v2"
					post-type="posts" per-page="5">
	<the-post-thumbnail></the-post-thumbnail>
	<h1 class="entry-title"><the-title href="#/posts/:id"></the-title></h1>
	<div class="entry-meta">
		<the-date format="yyyy/MM/dd"></the-date>
	</div>
</have-posts>
```

Demo: http://miya0001.github.io/wp-angularjs/demo/

## Requires

* [AngularJS](https://angularjs.org/)
	* [ngResource](https://github.com/angular/angular.js/tree/master/src/ngResource)
	* [ngSanitize](https://github.com/angular/angular.js/tree/master/src/ngSanitize)

Recommended:

* [ngInfiniteScroll](https://sroze.github.io/ngInfiniteScroll/)
* [jQuery](https://jquery.com/)

## API Reference

{{#module name="wp"}}
{{#children inherited=undefined ~}}
* [&lt;{{name}}&gt;](#{{name}})
{{/children~}}
{{/module}}

---

{{#module name="wp"}}
{{#children inherited=undefined ~}}
### &lt;{{name}}&gt;
{{>description~}}
{{>examples~}}
---
{{/children~}}
{{/module}}

## Creates your custom template tag

```js
// Registers your module, you should import `wp`.
var myapp = angular.module( "myapp", [ "wp" ] );

// Creates a `<my-permalink></my-permalink>` as custom template tag.
// If you place it in your HTML,
// then you can get `<a href="#!/post/123">Hello</a>`.
myapp.directive( "myPermalink", [ '$sce', function( $sce ) {
	return{
		restrict:'E',
		replace: true,
		require : '^havePosts',
		compile: function( tElement, tAttrs, transclude ) {
			return {
				post: function postLink( scope, element, attrs, controller ) {
					var post = scope.$parent.post; // post object
					scope.post_id = post.id;
					scope.title = post.title.rendered;
				}
			}
		},
		template: "<a ng-href=\"#!/post/\{{ post_id }}\">\{{ title }}</a>"
	}
} ] );
```

## Enables Infinite Scroll

Please load [ngInfiniteScroll](https://sroze.github.io/ngInfiniteScroll/) like following.

```html
<script src="path/to/jquery.min.js"></script>
<script src="path/to/angularjs/1.5.0/angular.min.js"></script>
<script src="path/to/angularjs/1.5.0/angular-resource.min.js"></script>
<script src="path/to/angularjs/1.5.0/angular-sanitize.min.js"></script>
<script src="path/to/ng-infinite-scroll.min.js"></script>
```

Add `infinite-scroll` as a dependency.

```js
angular.module( "app", [ "wp", "infinite-scroll" ] );
```

That's it.

## How to contribute

```
$ npm install
```

Run testing.

```
$ npm test
```

Build `js/wp-angular.min.js`.

```
$ npm run build
```

Build documentation.

```
$ npm run docs
```

